deepdoctection
transformers
html2text
unstructured
docx2txt
ebooklib
pytesseract
pdfminer.six
Pillow
PyMuPDF==1.21.1
pandas
nltk
graphql-core
torch
openai-whisper
sentencepiece
pydub
pdfplumber
pypdf
nbconvert
python-pptx
beautifulsoup4
rdflib~=6.2.0
torchvision
PyMuPDF
olefile
